@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

body{
  background: #4e0050;
  margin:0;
  padding: 0;
}

#gameTitle{
  position: absolute;
  top: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family:'Rajdhani', sans-serif;
  color: rgb(250, 206, 250);
  font-size: 5em;
  text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
}

#canvasDiv{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 400px;
  background-color: #22003c;
  background-image: url('assets/start-menu-bg.jpg');
  border: 2px solid  rgb(250, 206, 250);
  box-shadow: 1px 0px 30px 2.5px rgba(250,206,250,0.75);
}

#startButton{
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: rgb(250, 206, 250);
  text-align: center;
  font-size:2em;
  font-family: 'Rajdhani', sans-serif;
  background-color:#22003c;
  width: 100px;
  height: 50px;
  border: none;
  text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
  border: 2px solid  rgb(250, 206, 250);
  box-shadow: 1px 0px 30px 2.5px rgba(250,206,250,0.75);
}

canvas{
  position: absolute;
  top:0;
  left: 0;
  border:0px solid black;
  z-index: 1;
}

#canvasTextScreen{
  position: absolute;
  top:0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background:rgba(41, 0, 24, 0.7);
  /*opacity: 0.6;*/
}

#centerSpan{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color:white;
  text-align: center;
  font-size: 5em;
  font-family: 'Rajdhani', sans-serif;
}

#topTitle{
  position: absolute;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color:white;
  text-align: center;
  font-size: 3em;
  font-family: 'Rajdhani', sans-serif;
}

#bottomMessage{
  position: absolute;
  top: 80%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color:white;
  text-align: center;
  font-size: 2em;
  font-family: 'Rajdhani', sans-serif;
  animation: blinkElement 1.5s linear infinite;
}

#infoButton{
  position: absolute;
  bottom: 5%;
  right: 2.5%;
  cursor: pointer;
}

#infoDiv{
  position: relative;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  display: none;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  background: rgba(26, 0, 41, 0.9);
  font-size: 1.2em;
}

#closeInfo{
  position: absolute;
  top: 8%;
  right: 5%;
  font-size: 5em;
  color: rgb(250, 206, 250);
  text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
  cursor: pointer;
}

.infoTitle{
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 3em;
  color: rgb(250, 206, 250);
  text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
}

#instructions{
  position: absolute;
  top: 20%;
  left: 5%;
  width: 90vw;
  height: 500px;
}
#instructions span{
  position: absolute;
  margin-top: 60px;
}

#credits{
  position: absolute;
  top: 40%;
  left: 5%;
  width: 90vw;
  height: 225px;
}

#credits span{
  position: absolute;
  margin-top: 60px;
}

#credits span a{
  text-decoration: none;
  color: rgb(250, 206, 250);
  text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
}

#soundButton{
  position: absolute;
  bottom: 12.5%;
  right: 2.5%;
  cursor: pointer;
}

@keyframes blinkElement {
    from { opacity: 1.0; }
    50% { opacity: 0.3; }
    to { opacity: 1.0; }
}                    
